.mingmu {
    margin-top:750px;
    margin-left:550px;
}
.qingre {
    margin-top:330px;
    margin-left:550px;
}
.kaiwei{
    margin-top:330px;
    margin-left:550px;
}
.xuhan {
    margin-top:340px;
    margin-left:550px;
}
.jianfei {
    margin-top:360px;
    margin-left:550px;
}